body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Custom CSS to hide the scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}
/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f2f4f7; /* Matching background color */
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #412276; /* Primary color */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe9900; /* Secondary color */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #412276 #f2f4f7;
}
